<div class="container">
    <div class="radio-tile-group">
      <div class="input-container">
        <input id="radio" class="radio-button" type="radio" name="radio" />
        <div class="radio-tile">
            <span class="circle"><div class="count">10</div></span>
          <label for="radio" class="radio-tile-label">Assigned to me</label>
        </div>
      </div>
      <div class="input-container">
        <input id="radio" class="radio-button" type="radio" name="radio" />
        <div class="radio-tile">
            <span class="circle"><div class="count">15</div></span>
          <label for="radio" class="radio-tile-label">In progress</label>
        </div>
      </div>
      <div class="input-container">
        <input id="radio" class="radio-button" type="radio" name="radio" />
        <div class="radio-tile">
            <span class="circle"><div class="count">20</div></span>
          <label for="radio" class="radio-tile-label">Completed</label>
        </div>
      </div>
    </div>
  </div>
  